$primary: #1D59AE !default;

$light: #F8F9FE !default;
$medium: #8D8C90 !default;
$dark: #030303 !default;

$white: #ffffff !default;
$black: #000000 !default;

$alert: #FFB9AA !default;
$success: #B7D9AE !default;