$branded1: #0363C9;
$branded2: #1999D5;
$branded3: #FDA352;

$facebook: rgb(55, 101, 201);
$google: rgb(236, 65, 44);
$twitter: rgb(3, 159, 245);

$dark1: #161925;
$dark2: #25303E;
$dark3: #405B70;

$grey1: #666666;
$grey2: #D8D8D8;
$grey3: #DBDFE3;

$white: #fff;
$black: #000;

$sidebarWidth: 256px;