<h1><i class="fa-solid fa-receipt"></i> Expenses <small>{{expensesValue | currency:'EUR'}}</small></h1>
<app-action-bar [filterOptions]="filterOptions" (addNew)="openExpenseDetailModal()" (filterChange)="filterChanges()" [typeOptions]="typeOptions"></app-action-bar>

<!-- Expense list -->
<div class="data-table">
  <app-data-table [data]="expensesResponse?.expenses" [fields]="expenseFields" [showHeader]="true" (itemClicked)="openExpenseDetailModal($event)"></app-data-table>
</div>
<mat-paginator [length]="expensesResponse?.totalCount"
  [pageSize]="filterOptions.limit"
  aria-label="Select page"
  (page)="handlePageEvent($event)">
</mat-paginator>