<div class="table-container">
  <table class="table">
    <thead>
      @if (fields && showHeader) {
        <tr>
          <th>Date</th>
          <th>Value</th>
          <th>Name</th>
          <th>Type</th>
        </tr>
      }
    </thead>
    <tbody>
      @for (item of data; track $index) {
        <tr>
          <td>{{item.date | date:'dd/MM/YY'}}</td>
          <td>{{item.value | currency:'EUR'}}</td>
          <td>{{item.name}}<br/><small class="id-field">{{item._id}}</small></td>
          <td><i [ngClass]="getIcon(getVal(item, 'type'))"></i> {{getVal(item, 'type') | type}}</td>
        </tr>
      }
    </tbody>
  </table>
</div>