<div class="action-bar">
  <div class="left-side">
    <button mat-flat-button color="accent" (click)="addEvent()"><i class="fa-solid fa-plus"></i> Add New</button>
  </div>

  <div class="right-side">
    <mat-form-field>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconPrefix [for]="picker">asd</mat-datepicker-toggle>
      <mat-date-range-picker #picker (closed)="changeDate()"></mat-date-range-picker>
    </mat-form-field>
    <app-type-select [typeOptions]="typeOptions" (changeSelect)="changeType($event)"></app-type-select>
    <button mat-flat-button color="basic" [ngClass]="filterOptions.order === 'ASC' ? 'asc' : 'desc'" (click)="changeOrder()"><i class="fa fa-sort-up"></i> Change Order</button>
  </div>

</div>